body {
    background-image: url(../images/memphis-mini.png);
    padding:0;
    margin:0;
}

header {
    /* max-width: 960px; */
    width: 100%;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: auto;
    margin: 0px auto;
    border-color: grey;
    border-width: 0px 0px 1 px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    width: 95%;
}

h1 {
    padding: 25px 0;
    margin: 0px;
    margin-left: 118px;
    margin-bottom: 20px;
    font-size: 25px;
    color: white;
    text-align: center;
    width: 20%;
    background: teal;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

a:hover {
    background-color: lightgrey;
}

#bio-image  {
    float: left;
    height: 200px;
    width: 150x;
    margin-right: 20px;
}

.about-me {
    /* height: 450px; */
    margin: auto;
    background-color: whitesmoke;
    border-color: black;
    border-width: 3px;
    clear: right;
    /* float: left; */
    /* width: 70%; */
}

h2 {
    text-align: left;
    font-size: 25px;
    color: teal;
}

h3  {
    text-align: center;
    position: absolute; bottom: -8px;
    font-size: 25px;
    color: white;
    background: teal;
    width: 60%;
}

input[type=text], select, textarea  {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit]  {
    background-color: teal;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=sumbit]:hover  {
    background-color: white;
}

.container {
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 20px;
    width:  70vw;
    margin-left: 10%;
}

.container-2 {
    margin-left: 10%;
}

.images {
    width: 100%;
    display: float;
}

.content  {
    position: relative;
    width: 50%;
    float: left;
}

.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    background-color: darkgray;
    color: white;
    text-align: center;
    border-top: 8px solid #4aaaa5;
}

bottom  {
    clear:both;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 980px) {

    #container {
    width: 100%;
}

.about-me {
    width: 70%;
}

}

@media screen and (max-width: 768px) {


}

@media screen and (max-width: 640px) {
    header {
        position: static;
    }

    h1 {
        position: static;
    }

    #container {
        width: 100%;
    }

    .container-2 {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    .images {
        width: 100%;
    }
    
    h3 {
        width: max-content;
    }
}

